
<!DOCTYPE html>
<html>
<head>
	<title>小程序在线解码工具</title>
</head>
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap-grid.css" rel="stylesheet">
<body>
<div class="col-md-12 column">
<h1>小程序在线解码工具-by 木已成舟</h1>
</div>
<form id="wx" action="/" method="post">
<div class="row clearfix">
	<div class="row clearfix">
		<div class="col-md-6 column">
			iv值：<input type="text" name="iv">
		</div>
		<div class="col-md-6 column">
			session_key值：<input type="text" name="key">
		</div>
		<br>
		<br>

	</div>

</div>
<div class="row clearfix">
		

		<div class="col-md-12 column">
			数据：
			<br>
			<textarea cols="136" name="datatext" form="wx"></textarea>
		</div>
		</div>
		<br>
		<br>
		<div class="col-md-12 column">
			<input type="submit" name="esubmit" value="编码" >

		</div>
		<div class="col-md-12 column">
			<input type="submit" name="dsubmit" value="解码" >

		</div>

</div>
</form>
</body>
</html>

